<footer>
		<nav id="lang">
			<ul>
				<% if(getLocale() == 'fr') { %>
					<li><a href="/en" >En</a></li>
				<% } else { %>
					<li><a href="/fr" >Fr</a></li>
				<% } %>
			</ul>
		</nav>
</footer>