<nav>
	<ul>
		<li><a href="http://localhost:8081/"><%= __('accueil') %></a></li>
		<li><a href="http://localhost:8081/membres"><%= __('adresses') %></a></li>
		<li><a href="http://localhost:8081/peuplement"><%= __('peuplement') %></a></li>
		<li><a href="http://localhost:8081/vider"><%= __('vider') %></a></li>
	</ul>
</nav>