<!DOCTYPE html>
<html lang="fr">
<%- include('composants/head.ejs') %>
<body>
	<%- include('composants/entete.ejs') %>
	<h1><%= __('accueil') %></h1>
	<%- include('composants/footer.ejs') %>
</body>
</html>